/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 145%;
    background-color: #ffffff;
    color: #555555;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

section {
    padding: 40px 0;
}

label {
    display: block;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
    background-color: #e67e22;
    color: #ffffff;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #cf6d17;
    text-decoration: none;
}

.main-text {
    text-align: center;
    font-weight: 300;
    font-size: 150%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-text:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;      
}

input[type="text"],
input[type="email"] {
    width: 40%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-family: inherit;
    font-weight: 400;
    margin: 10px 0;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-img.jpe);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-img.jpe);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #ffffff;    
    text-align: center;
}

header h1 {
    font-weight: 300;
    font-size: 300%;
    padding-top: 30px;
    margin-bottom: 20px;
}

header h1:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;  
}

header h2 {
    font-weight: 300;
    font-size: 140%;
    margin-bottom: 20px;
}

header i {
    display: block;
    margin: 0 auto;
    color: #e67e22;
    margin: 100px 0 10px 0;
}

/* ---------------------------------------- */
/* SEARCH SECTION */
/* ---------------------------------------- */

#search-section form {
    text-align: center;
}

#search-section .search-btn {
    display: block;
    margin: 20px auto 0 auto;
}

/* ---------------------------------------- */
/* ADD SECTION */
/* ---------------------------------------- */

#add-section {
    background-color: #F4F4F4;
    text-align: center;
}

#add-section label {
    display: block;
    margin: 10px 0;
}

#add-section p {
    font-size: 80%;
    margin-top: -10px;
}

#add-section .add-btn {
    margin: 5px 0 0 0;
}

/* ---------------------------------------- */
/* MODIFY SECTION */
/* ---------------------------------------- */

#modify-section {
    text-align: center;
}

#modify-section .modify-btn {
    display: block;
    margin: 20px auto 0 auto;
}

/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */

footer {
    text-align: center;
    font-size: 80%;
    background-color: #333333;
    color: #ffffff;
    padding: 50px 0;
}

footer a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
}

footer a:hover,
a:active {
    text-decoration: underline;
    color: #cf6d17;
}